*.tex
*.aux
*.dvi
*.jpg
*.doc
*.log
*.gz
*.out
__pycache__
*.pyc
*nooremf@gmail.com Firefox Recovery Codes.txt
*nooremf@gmail.com Firefox Recovery Key.txt
*codeblocks/App1/.vs/App1/v16/RC/Browse.VC.db
*codeblocks/App2/App2/Debug/App2.pch
*codeblocks/App2/.vs/App2/v16/RC/Browse.VC.db
*codeblocks/App1/.vs/App1/v16/RC/ipch/d3c8ad715dba63fb.ipch
*codeblocks/App1/App1/Debug/App1.pch